/** Sidebar Styles **/
#sidebar-wrapper {
    background: $white-shade;
}

.sidebar-nav {
    padding-top: 50px;
    padding-left: 25px;

    li {
        margin-bottom: 40px;
        width: 150px;
        text-indent: 0;

        a:hover {
            color: $slate-black;
        }
    }

    .sidebar-brand {
        margin-bottom: 80px;
    }
}

#logo {
    width: 150px;
}

