// Styles specific to case study page

.casestudy-container {
  margin: 30px 25% 30px 6%;
  @media screen and (max-width: 850px) {
    margin: 35px 7%;
  }
}

.casestudy-image-container {
  position: relative;
  margin: 0;
  max-width: 550px;
  width: inherit;
  overflow: hidden;
}

.casestudy-image {
  width: 100%;
}

.casestudy-container:hover .casestudy-text {
  opacity: 1;
  -webkit-transition: opacity 0.2s; /* For Safari browser */
   transition: opacity 0.2s;
}

.casestudy-text {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}


.casestudy-text p {
  display: block;
  padding: 20% 50px;
  color: #fff;
  font-size: 18px;
  @media screen and (max-width: 550px) {
    font-size: 14px;
    padding: 20px;
  }
}

.casestudy-image-caption {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 text-align: center;
 padding: 22px 0;
 color: #fff;
 font-size: 18px;

 @media screen and (max-width: 550px) {
   font-size: 14px;
 }
}

.caption-background-red {
  background: rgba(192, 57, 43, 0.8);
}

.caption-background-green {
  background: rgba(22, 160, 133, 0.8);
}

.caption-background-blue {
  background: rgba(47, 147, 196, 0.8);
}

.caption-background-orange {
  background: rgba(229, 126, 37, 0.8);
}

.left-margin-5percent {
  margin-left: 5%;
  @media screen and (max-width: 650px) {
    margin-left: inherit;
  }
}
