@import "variables";

// All styles specific to the homepage/index page.
.header-image-container {
   overflow: hidden;
   height: 100vh;
}

#bg-image {
  min-width: 100%;
  min-height: 100%;
}

.header-text {
    background: rgba(225, 233, 208, 0.93);
    position: absolute;
    top: 10%;
    @media screen and (max-width: 520px) {
        top: 5%; 
    }

    h1 {
        font-family: sans-serif;
        color: #515151;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 1px;
        margin: 20px 0 20px 5px;
    }

    p {
        line-height: 30px;
        margin-left: 5px;
    }
}

.sponsor-image {
    img {
        margin: 0 20px 20px 20px;
    }   
}