@import "variables";
@import "sidebar";

/** General Styles **/

// Remove later
body {
    background: $creme-color;
}
// end

#page-content-wrapper {
    padding: 0px;
}

.toggle-menu-btn {
    display: none;
    @media screen and (max-width: 760px) {
        display: inline-block;
    }
}
