// Styles specific to renewableEnergySupply.html

@import "variables";

.list-group-item {
  margin: 10px 10px 10px 0;
  padding: 20px;
}

button.list-group-item {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.modal-dialog {
  width: 80%;
}
