<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
            	<svg id="logo"><desc>Created with Snap</desc><defs></defs><rect x="37.5" y="18.75" width="18.75" height="18.75" fill="#c5ccb8" stroke="#c5ccb8" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="56.25" y="18.75" width="18.75" height="18.75" fill="#e1e9d1" stroke="#e1e9d1" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="37.5" y="37.5" width="18.75" height="18.75" fill="#e1e9d1" stroke="#e1e9d1" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="56.25" y="37.5" width="18.75" height="18.75" fill="#eff5dc" stroke="#eff5dc" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="0" y="0" width="18.75" height="18.75" fill="#000000" stroke="#000000" style="stroke-width: 1; fill-opacity: 0; stroke-opacity: 0;"></rect><rect x="18.75" y="0" width="18.75" height="18.75" fill="#d25627" stroke="#d25627" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="37.5" y="0" width="18.75" height="18.75" fill="#f04941" stroke="#f04941" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="56.25" y="0" width="18.75" height="18.75" fill="#ca3732" stroke="#ca3732" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="0" y="18.75" width="18.75" height="18.75" fill="#14a085" stroke="#14a085" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="18.75" y="18.75" width="18.75" height="18.75" fill="#e57e25" stroke="#e57e25" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="0" y="37.5" width="18.75" height="18.75" fill="#26b99a" stroke="#26b99a" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="18.75" y="37.5" width="18.75" height="18.75" fill="#3b97d3" stroke="#3b97d3" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="0" y="56.25" width="18.75" height="18.75" fill="#000000" stroke="#000000" style="stroke-width: 1; fill-opacity: 0; stroke-opacity: 0;"></rect><rect x="18.75" y="56.25" width="18.75" height="18.75" fill="#2980ba" stroke="#2980ba" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="37.5" y="56.25" width="18.75" height="18.75" fill="#9778b5" stroke="#9778b5" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect><rect x="56.25" y="56.25" width="18.75" height="18.75" fill="#894b9d" stroke="#894b9d" style="stroke-width: 1; fill-opacity: 1; stroke-opacity: 1;"></rect></svg>
            </a>
        </li>
        <li>
            <a href="/community-energy-explained">Community Energy Explained</a>
        </li>
        <li>
            <a href="/renewable-energy-supply">Renewable Energy Supply</a>
        </li>
        <li>
            <a href="/energy-demand-and-efficiency">Energy Demand and Efficiency</a>
        </li>
        <li>
            <a href="/case-studies-and-resources">Case Studies and Resources</a>
        </li>
        <li>
            <a href="/energy-maps">Energy Maps</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
