/* line 3, ../sass/caseStudyStyles.scss */
.casestudy-container {
  margin: 30px 25% 30px 6%;
}
@media screen and (max-width: 850px) {
  /* line 3, ../sass/caseStudyStyles.scss */
  .casestudy-container {
    margin: 35px 7%;
  }
}

/* line 10, ../sass/caseStudyStyles.scss */
.casestudy-image-container {
  position: relative;
  margin: 0;
  max-width: 550px;
  width: inherit;
  overflow: hidden;
}

/* line 18, ../sass/caseStudyStyles.scss */
.casestudy-image {
  width: 100%;
}

/* line 22, ../sass/caseStudyStyles.scss */
.casestudy-container:hover .casestudy-text {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  /* For Safari browser */
  transition: opacity 0.2s;
}

/* line 28, ../sass/caseStudyStyles.scss */
.casestudy-text {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

/* line 40, ../sass/caseStudyStyles.scss */
.casestudy-text p {
  display: block;
  padding: 20% 50px;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 550px) {
  /* line 40, ../sass/caseStudyStyles.scss */
  .casestudy-text p {
    font-size: 14px;
    padding: 20px;
  }
}

/* line 51, ../sass/caseStudyStyles.scss */
.casestudy-image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 22px 0;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 550px) {
  /* line 51, ../sass/caseStudyStyles.scss */
  .casestudy-image-caption {
    font-size: 14px;
  }
}

/* line 66, ../sass/caseStudyStyles.scss */
.caption-background-red {
  background: rgba(192, 57, 43, 0.8);
}

/* line 70, ../sass/caseStudyStyles.scss */
.caption-background-green {
  background: rgba(22, 160, 133, 0.8);
}

/* line 74, ../sass/caseStudyStyles.scss */
.caption-background-blue {
  background: rgba(47, 147, 196, 0.8);
}

/* line 78, ../sass/caseStudyStyles.scss */
.caption-background-orange {
  background: rgba(229, 126, 37, 0.8);
}

/* line 82, ../sass/caseStudyStyles.scss */
.left-margin-5percent {
  margin-left: 5%;
}
@media screen and (max-width: 650px) {
  /* line 82, ../sass/caseStudyStyles.scss */
  .left-margin-5percent {
    margin-left: inherit;
  }
}
