/** Variable for colors **/
/* line 4, ../sass/index_styles.scss */
.header-image-container {
  overflow: hidden;
  height: 100vh;
}

/* line 9, ../sass/index_styles.scss */
#bg-image {
  min-width: 100%;
  min-height: 100%;
}

/* line 14, ../sass/index_styles.scss */
.header-text {
  background: rgba(225, 233, 208, 0.93);
  position: absolute;
  top: 10%;
}
@media screen and (max-width: 520px) {
  /* line 14, ../sass/index_styles.scss */
  .header-text {
    top: 5%;
  }
}
/* line 22, ../sass/index_styles.scss */
.header-text h1 {
  font-family: sans-serif;
  color: #515151;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 20px 0 20px 5px;
}
/* line 31, ../sass/index_styles.scss */
.header-text p {
  line-height: 30px;
  margin-left: 5px;
}

/* line 38, ../sass/index_styles.scss */
.sponsor-image img {
  margin: 0 20px 20px 20px;
}
