/** Variable for colors **/
/** Sidebar Styles **/
/* line 2, ../sass/_sidebar.scss */
#sidebar-wrapper {
  background: #ffffff;
}

/* line 6, ../sass/_sidebar.scss */
.sidebar-nav {
  padding-top: 50px;
  padding-left: 25px;
}
/* line 10, ../sass/_sidebar.scss */
.sidebar-nav li {
  margin-bottom: 40px;
  width: 150px;
  text-indent: 0;
}
/* line 15, ../sass/_sidebar.scss */
.sidebar-nav li a:hover {
  color: #4f4f4f;
}
/* line 20, ../sass/_sidebar.scss */
.sidebar-nav .sidebar-brand {
  margin-bottom: 80px;
}

/* line 25, ../sass/_sidebar.scss */
#logo {
  width: 150px;
}

/** General Styles **/
/* line 7, ../sass/myStyles.scss */
body {
  background: #e1e9d0;
}

/* line 12, ../sass/myStyles.scss */
#page-content-wrapper {
  padding: 0px;
}

/* line 16, ../sass/myStyles.scss */
.toggle-menu-btn {
  display: none;
}
@media screen and (max-width: 760px) {
  /* line 16, ../sass/myStyles.scss */
  .toggle-menu-btn {
    display: inline-block;
  }
}
