/** Variable for colors **/
/* line 5, ../sass/renewableEnergySupplyStyles.scss */
.list-group-item {
  margin: 10px 10px 10px 0;
  padding: 20px;
}

/* line 10, ../sass/renewableEnergySupplyStyles.scss */
button.list-group-item {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

/* line 17, ../sass/renewableEnergySupplyStyles.scss */
.modal-dialog {
  width: 80%;
}
