{% extends 'layout.html' %}

{% block title %}{% parent %} - Energy Maps{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/cee/stylesheets/energymapsStyles.css">
{% endblock head %}

{% block content %}
{% parent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Energy Maps</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <iframe class="energyMaps__iframe" src="http://energyexplorer.ca/"></iframe>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
