{% extends 'layout.html' %}

{% block title %}{% parent %} - Home Page{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="./styles/cee/stylesheets/index_styles.css">
{% endblock head %}

{% block content %}
{% parent %}
<div class="header-image-container">
    <img src="/images/homepage/bg_1.png" id="bg-image" usemap="#header-image" alt="">
    <map name="header-image">
        <area id="abcd" alt="" title="Solar Roof" shape="poly" coords="231,374,229,382,286,419,351,425,346,459,373,467,638,495,603,431" style="outline:#000;"  onclick="alert('Solar Panels')"   data-maphilight='true' />
    </map>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-6 header-text">        
                <h1>Explore Community Energy</h1>
                <p>
                    Imagine a neighbourhood where efficient homes <a href="#">generate energy</a> and share it with the
                    community. Imagine a walkable community, with local services and convienient access to transit
                    in a region that uses <a href="#">renewable energy resources</a> instead of fossil fuels.
                </p>
                <br>
                <p>
                    This website provides a set of tools for exploring community energy.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Supported by:</h4>
        </div>
        <div class="col-md-7">
            <a href="#" class="sponsor-image">
                <img src="/images/homepage/neptis.svg">
            </a>

            <a href="#" class="sponsor-image">
                <img src="/images/homepage/PICS.png">
            </a>

            <a href="#" class="sponsor-image">
                <img src="/images/homepage/metrovan.svg">
            </a>

            <a href="#" class="sponsor-image">
                <img src="/images/homepage/realestatefoundation.svg">
            </a>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="./js/jquery.rwdImageMaps.min.js"></script>
    <script src="./js/jquery.maphilight.min.js"></script>
    <script src="./js/indexScript.js"></script>
{% endblock scripts %}
