<!-- Solar Modal -->
<div class="modal fade" id="solarModal" tabindex="-1" role="dialog" aria-labelledby="solarModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solar Modal</h4>
      </div>
      <div class="modal-body">
        Display Information on solar energy.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Solar Modal End-->