{% extends '../layout.html' %}

{% block title %}{% parent %} - Case Study One{% endblock %}

{% block head %}
    {% parent %}
{% endblock head %}

{% block content %}
{% parent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ pageName }}</h1>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
